{{!-- <div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div> --}}

{{#each this}}
<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{user.username}}</strong> <small>@ {{format_date created_at}}</small>
        <br>
        {{comment_text}}
      </p>
    </div>
  </div>
</article>
{{/each}}